li a {
  color: green;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
